---
import Layout from "../layouts/Layout.astro";
import "../css/main.css";
import "../css/header&footer.css";
import Button from "../components/Buttons.astro";

---

<Layout>
<section class="hero">
	<div class="heroimg">
		<img src="/images/hero.jpg" alt="Billede af unge der sidder og kigger ud på udsigten">
	</div>
	<div class="herotekst">
	<h1>Dit højskoleeventyr starter her!</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur fugit harum eligendi eveniet enim sequi architecto totam qui quaerat laudantium distinctio odit, exercitationem veniam. At inventore modi dolorum totam voluptate?</p>
<div class="herobtn">
	<Button text="Se rejsekalender" variant="orange" />
	 <Button text="Infomøder" variant="white"/>
	 </div>
</div>
</section>
<section class="forside">
	<div>
	<h2>Vælg dit eventyr</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias non architecto quo rem numquam dolorem aliquid hic? Accusamus vel similique dignissimos porro iste omnis asperiores doloribus ab illum quod.</p>
</div>

<Button text="Se alle rejser" variant="orange"/>
</section>
<section class="blaasektion">
	<h2>Oplevelser for livet og fantastiske eventyr</h2>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque quibusdam itaque, odio repellat, sequi voluptates nemo accusantium soluta, eligendi ullam incidunt esse nisi magnam enim obcaecati iure! Inventore, dolor pariatur?</p>
</section>
	</Layout>



