---
import Layout from "../layouts/Layout.astro"; 
import Button from "../components/Buttons.astro";
import "../css/header&footer.css";
---
<Layout>
	<h1>Om os</h1>
	
     <Button text="se mere" variant="orange" />
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ut reprehenderit laudantium nobis, consectetur, pariatur voluptates porro recusandae saepe quis eveniet expedita in vitae iusto cum! Optio dignissimos minus dolorum?</p>
</Layout> 