---
const { text, variant = "orange" } = Astro.props;
---

<button class={`button ${variant}`}>
  {text}
</button>

<style>
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }

  .orange {
    background-color:  #ce5501;;
    color: white;
  }

  .orange:hover {
    background-color: #e03e00;
  }

  .white {
    background-color: white;
    color: black;
    border: 2px solid white;
  }

  .green {
    background-color: #22c55e;
    color: white;
  }
</style>

{/* <Buttons text="Orange knap" variant="orange" />

<Buttons text="Hvid knap" variant="white" />

<Buttons text="Grøn knap" variant="green" />
 */}
