---
const { headline, subline, byline, image, span } = Astro.props;
---

<article style=`background-image: url(${image}); grid-column: span ${span};`>
    <h3>{subline}</h3>
    <p>{byline}</p>
</article>

<style>
article{
 background-size: cover;
 aspect-ratio: 2/1;

}

</style>