---
const { headline, subline, byline, image } = Astro.props;
---

<article class="Card" style=`background-image: url(${image});`>
    <h2>{headline}</h2>
    <h3>{subline}</h3>
    <p>{byline}</p>
</article>

<style>
article{
 background-size: cover;
 aspect-ratio: 2/1;
}

</style>