/* menu */
.logo img {
  width: 50px;
  height: 30px;
}
.menu {
  display: none;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  transition: color 0.3s;
  color: black;
  text-align: end;
}

.menu a:hover {
  color: #ce5501;
}

.logo img {
  width: 200px;
  height: 100px;
  padding-right: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.orangenav {
  background-color: #ebbb99;
  padding: 1rem;
}
