/* .heroimg img {
  width: 1700px;
  height: 1250px;
} */

/* .herotekst {
  z-index: 100;
} */

.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.herotekst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.forside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.forsidebilleder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.forsidebilleder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.forsidebilleder img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.forsidebilleder {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.forsidebilleder img:nth-child(4) {
  grid-column: span 2;
}
.forsidebilleder img:nth-child(5) {
  grid-column: span 2;
}

.blaasektion {
  background-color: #d5e7ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
