---
import "../css/header&footer.css";

<html>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Højskolendk</title>
	</head>
	<body>
	<header>
		<nav>
		<ul class="menu">
		<a href="/">Forside</a>
		<a href="Rejse">Rejsekalender</a>
		<a href="Hoejskole">Højskoleophold</a>
		<a href="Sommer">Sommerhøjskole</a>
		<a href="Priser">Priser</a>
		<a href="Om">Om os</a>
		<a href="Kontakt">Kontakt</a>
		<a href="Info">Infomøde</a>
		</ul>
		<button class="burger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
		  </button>
		</nav>
		</header>
    <slot/>
		<footer>Her er min footer</footer>
	</body>
</html>
