---
import "../css/header&footer.css";
--- 

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Højskolendk</title>
	</head>
	<script type="module">
  import "../javascript/menu.js";
</script>

	<body>
	<header>
		<div class="logo">
        <a href="index.html">
        <img src="" alt="Logo" />
        </a>
      </div>
		<nav>
		<ul class="menu">
		<li><a href="/Rejse">Rejsekalender</a></li>
		<li><a href="/Hoejskole">Højskoleophold</a></li>
		<li><a href="/Sommer">Sommerhøjskole</a></li>
		<li><a href="/Priser">Priser</a></li>
		<li><a href="/Om">Om os</a></li>
		<li><a href="/Kontakt">Kontakt</a></li>
		<li><a href="/Info">Infomøde</a></li>
		</ul>
		<button class="burger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
		</button>
		</nav>
		</header>
    <slot/>
		<footer></footer>
	</body>
</html>
